@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: rgba(104,134,173,255);
}

button {
    background-color:  #28334c;
    color: white;
    border: none;
    
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;

}

button:hover {
    background-color: white;
    color: #28334c;
    border: 1px solid white;

}